:root {
  --body-color: #defcf9;
  --bg-color: #dbd8e3;
  --tab-color: #5c5470;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  width: 100%;
  height: 100%;
}

.flexbox {
  display: flex;
}

#main-wrapper {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: var(--body-color);
}

#header-wrapper {
  width: 100vw;
  height: 7vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 15px;
  background-color: var(--tab-color);
}

/* Darkmode toggle button credited to https://redstapler.co/pure-css-minimal-dark-mode-toggle-button/ */
/* darkmode toggle starts here */
#darkmode-toggle-wrapper {
  flex-direction: row;
}

#darkmode-label {
  width: 50px;
  height: 23px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
              inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

#darkmode-label:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#darkmode-input:checked + #darkmode-label {
  background-color: #242424;
}

#darkmode-input:checked + #darkmode-label:after {
  left: 47px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

#darkmode-label, #darkmode-label:after {
  transition: 1s;
}

#darkmode-label:active:after {
  width: 30px;
}

#darkmode-input {
  width: 0;
  height: 0;
  visibility: hidden;
}
/* darkmode toggle ends here */

#content-wrapper {
  width: 100vw;
  height: 95vh;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
}

#main-content {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
}

#info-wrapper {
  width: 50vw;
  height: 100%;
  background-image: url('./resources/images/bg-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
}

#form-wrapper {
  width: 50vw;
  height: 100%;
  border: 1px solid black;
}